.benefits {
  padding: 90px 0 96px 0;

  @include media-w($smm) {
    text-align: center;
    padding: 21px 0 27px 0;
  }

  &__title {
    margin: 0px 0px 33px -36px;
    text-align: center;
    @include overflow($row);

    @include media-w($smm) {
      margin: 0px 0px 22px 2px;
      max-width: 280px;
    }
  }

  &__top {
    max-width: 1111px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;

    @include media-w($lg) {
      justify-content: space-between;
    }

    @include media-w($smx) {
      justify-content: center;
    }
  }

  &__tel {
    position: relative;
    margin: 0px 75px 0px 24px;
  }

  &__img {
    position: relative;
    z-index: -1;

    @include media-w($smx) {
      width: 164px;
      height: 302px;
    }
  }

  &__question {
    position: absolute;
    width: 188px;
    height: 104px;
    background: linear-gradient(326.06deg, #F0EBFF 11.53%, #FFFFFF 74.32%);
    box-shadow: 0px 13.5277px 39.7872px rgba(187, 166, 255, 0.78);
    border-radius: 12px;
    top: -10px;
    right: -50px;
    padding: 17px 19px 18px 22px;

    @include media-w($lg) {
      padding: 17px 19px 18px 22px;
    }

    @include media-w($smx) {
      padding: 16px 4px 16px 13px;
      width: 138px;
      height: 84px;
      top: 6px;
      left: 96px;
    }

    @include media-w($xs) {
      padding: 16px 4px 16px 4px;
    }
  }

  &__ask {
    display: block;
    font-size: 12px;
    line-height: 1.3;
    color: $black;
    margin-bottom: 7px;
    @include overflow($row);

    @include media-w($smx) {
      font-size: 10px;
      line-height: 16px;
    }
  }

  &__btn {
    padding: 15px 22px;
    width: 148px;
    height: 46px;
    font-size: 12px;
    margin-left: -4px;
    border-radius: 7px;

    @include media-w($smx) {
      padding: 8px;
      width: 116px;
      height: 32px;
      font-size: 10px;
      line-height: 14px;
    }
  }

  &__sirius {
    margin-right: 31px;
    max-width: 438px;
    padding-top: 17px;

    @include media-w($smx) {
      text-align: left;
      padding-top: 11px;
    }
  }

  &__sirius-title {
    @extend %GothamPro-700;
    font-size: 16px;
    line-height: 2.75;
    letter-spacing: 0.17em;
    color: #34449C;
    margin: 0px 0px 0px 3px;
    text-transform: uppercase;
    @include overflow($row);

    @include media-w($smx) {
      font-size: 14px;
      line-height: 44px;
      margin: 12px 0px 0px 2px;
    }
  }

  &__sirius-list {
    @include media-w($smx) {
      font-size: 12px;
      line-height: 150%;
    }
  }

  &__sirius-item {
    max-width: 400px;
    @include overflow($row-4);
  }

  &__sirius-item:not(:last-child) {
    margin-bottom: 23px;
  }

  &__schedule {
    max-width: 361px;
  }

  &__schedule-list {
    padding: 61px 0px 0px 40px;

    @include media-w($smx) {
      text-align: left;
      padding: 22px 0px 0px 0px;
      font-size: 12px;
      line-height: 150%;
    }
  }

  &__schedule-item {
    position: relative;
    padding-left: 26px;
    @include overflow($row-2);

    &::before {
      content: '';
      position: absolute;
      width: 14px;
      height: 14px;
      background-image: url(../images/benefits/triangle.svg);
      @extend %bg-center-cover;
      top: 4px;
      left: 2px;
    }
  }

  &__schedule-item:not(:last-child) {
    margin-bottom: 23px;

    @include media-w($smx) {
      margin-bottom: 16px;
    }
  }

  &__bottom {
    margin-top: -71px;
    max-width: 1272px;

    @include media-w($lg) {
      margin-top: 50px;
    }

    @include media-w($smx) {
      max-width: 100%;
    }
  }

  &__bottom-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-row-gap: 19px;

    @include media-w($sxla) {
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 16px;
    }

    @include media-w($md) {
      grid-template-columns: repeat(3, 1fr);
    }

    @include media-w($sm) {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 8px;
    }

    @include media-w($smx) {
      grid-template-columns: repeat(1, 1fr);
      grid-row-gap: 8px;
    }
  }

  &__bottom-item {
    max-width: 240px;
    background: linear-gradient(236.29deg, #FFFFFF 29.99%, #F4F9FF 79.17%);
    box-shadow: 0px 4px 100px rgba(208, 218, 227, 0.57);
    border-radius: 20px;
    border: 2px solid transparent;
    transition: box-shadow 0.5s, border 0.5s;

    @include media-w($sxla) {
      max-width: 100%;
    }

    @include media-w($smx) {
      height: 280px;
    }

    p {
      @include overflow($row-7);
    }

    &:nth-child(2) {
      @include media-w($smx) {
        height: 267px;
      }
    }

    &:nth-child(3) {
      @include media-w($smx) {
        height: 271px;
      }
    }

    &:nth-child(4) {
      @include media-w($smx) {
        height: 252px;
      }
    }

    &:nth-child(5) {
      @include media-w($smx) {
        height: 272px;
      }
    }

    p {
      @include media-w($smx) {
        font-size: 12px;
        line-height: 150%;
      }
    }

    &:focus {
      box-shadow: 0px 4px 100px rgba(87, 141, 187, 0.57);
    }

    &:hover {
      border: 2px solid $accent-light;
    }

    &:active {
      box-shadow: 0px 13.5277px 39.7872px rgb(187 166 255 / 78%);
    }
  }

  &__bottom-link {
    border: 2px solid transparent;
    display: block;
    border-radius: 20px;
    padding: 28px 32px 32px 27px;
    transition: box-shadow 0.5s, border 0.5s;

    @include media-w($smx) {
      text-align: left;
      padding: 25px 25px 25px 25px;
    }
  }

  &__bottom-img {
    display: block;
    margin-bottom: 20px;
  }

  &__bottom-title {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.25;
    @include overflow($row-3);

    @include media-w($smx) {
      font-size: 14px;
      line-height: 20px;
    }

    &--one {
      margin: -3px 0 16px 3px;
      max-width: 81px;
    }

    &--two {
      margin: -3px 0 16px 3px;
      max-width: 94px;

      @include media-w($smx) {
        margin: 30px 0 17px 3px;
      }
    }

    &--three {
      margin: -5px 0 14px 3px;
      max-width: 106px;
    }

    &--four {
      margin: -5px 0 14px 3px;
      max-width: 113px;
    }

    &--five {
      margin: -6px 0 10px 5px;
      max-width: 172px;
    }
  }
}