.easy-start {
  padding: 74px 0 0 0;
  text-align: center;
  background-image: url(../images/easy-start/curve.png);
  background-repeat: no-repeat;
  background-size: 1023px;
  background-position: top 236px right 337px;

  &__title {
    margin-bottom: 42px;

    @include media-w($smx) {
      margin-bottom: 27px;
    }
  }

  &__list {
    padding-bottom: 144px;
    margin: 0px auto 0px 111px;
    min-height: 502px;
    display: grid;
    grid-gap: 16px;
    grid-template-columns: 296px repeat(2, 1fr);
    max-width: 959px;

    @include media-w($mdb) {
      max-width: 933px;
      margin: 0px 0px 0px 0px;
    }

    @include media-w($md) {
      padding-bottom: 72px;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 8px;
    }
  }

  &__item {
    background-color: $white;
    box-shadow: 0px 4px 100px rgba(208, 218, 227, 0.57);
    border-radius: 20px;
    text-align: left;

    &:nth-child(1) {
      height: 243px;

      @include media-w($md) {
        order: 1;
      }

      @include media-w($smx) {
        height: 213px;
      }
    }

    &:nth-child(2) {
      grid-row: span 2;

      @include media-w($md) {
        grid-row: span 1;
        order: 3;
      }

      @include media-w($smx) {
        height: 341px;
      }
    }

    &:nth-child(3) {
      height: 366px;

      @include media-w($md) {
        order: 4;
      }

      @include media-w($smx) {
        height: 308px;
      }
    }

    &:nth-child(4) {
      margin-top: -123px;
      height: 243px;

      @include media-w($md) {
        margin-top: 0px;
        order: 2;
      }

      @include media-w($smx) {
        height: 233px;
      }
    }
  }

  &__link {
    min-height: 100%;
    display: block;
    border: 2px solid transparent;
    padding: 30px;
    transition: border 0.5s;

    @include media-w($smx) {
      padding: 24px 24px 24px 29px;
    }

    &:hover {
      border: 2px solid #4917E8;
      border-radius: 20px;
    }

    &--mar {
      padding: 38px;
    }
  }

  &__num {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid $default;
    display: flex;
    justify-content: center;
    align-items: center;
    @extend %GothamPro-700;
    margin-bottom: 16px;
  }

  &__item-title {
    font-size: 16px;
    line-height: 2.25;
    margin-bottom: 9px;

    @include media-w($smx) {
      font-size: 14px;
      line-height: 30px;
      margin-bottom: 14px;
    }
  }

  &__item-text {
    max-width: 232px;

    @include media-w($smx) {
      font-size: 12px;
      line-height: 20px;
    }
  }

  &__img {
    margin: 30px 0px 33px 0px;

    @include media-w($smx) {
      margin: -17px 0px 17px 27px;
      width: 160px;
      height: 112px;
    }

    &--top {
      margin: 0px 0px 16px 3px;

      @include media-w($smx) {
        margin: -18px 0px 16px -8px;
        width: 55px;
        height: 55px;
      }
    }
  }

  &__btn {
    margin: 14px 0 0 0;
    padding: 16px 21px;

    @include media-w($smx) {
      margin: 17px 0 0 0;
      font-size: 12px;
      padding: 16px 37px;
    }
  }

  &__prediction {
    padding: 96px 0 97px 0;
    background-color: $accent;

    @include media-w($smx) {
      text-align: center;
      padding: 48px 19px 48px 19px;
    }
  }

  &__wrapper {
    margin: 0 auto;
    max-width: 1330px;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;

    @include media-w($lg) {
      flex-direction: column;
      align-items: center;
    }

    @include media-w($smx) {
      padding: 0;
    }
  }

  &__subtitle {
    max-width: 406px;
    @extend %GothamPro-700;
    font-size: 32px;
    line-height: 1.37;
    color: $white;

    @include media-w($smx) {
      font-size: 24px;
      line-height: 30px;
      max-width: 180px;
      margin-bottom: 28px;
    }
  }

  &__inner {
    max-width: 784px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media-w($lg) {
      max-width: 100%;
      flex-wrap: wrap;
      align-items: flex-start;
    }

  }

  &__point {
    width: 100%;
    max-width: 100%;

    &:first-child {
      max-width: 186px;

      @include media-w($smx) {
        max-width: 140px;
      }
    }

    &:nth-child(2) {
      max-width: 202px;

      @include media-w($smx) {
        max-width: 140px;
        margin-bottom: 20px;
      }
    }

    &:nth-child(3) {
      max-width: 186px;

      @include media-w($smx) {
        max-width: 140px;
      }
    }

    &:nth-child(4) {
      max-width: 186px;

      @include media-w($smx) {
        max-width: 140px;
      }
    }
  }

  &__point-title {
    display: block;
    background: linear-gradient(180deg, #4614E8 0%, #BCA7FF 100%, #7247FF, );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    @extend %GothamPro-700;
    font-size: 32px;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 6px;

    @include media-w($smx) {
      font-size: 24px;
      line-height: 150%;
      margin-bottom: 8px;
    }

    &--second {
      margin-left: -8px;

      @include media-w($smx) {
        margin-left: -1px;
      }
    }

    &--tree {
      margin-left: -22px;

      @include media-w($smx) {
        margin-left: 5px;
      }
    }

    &--four {
      margin-left: -23px;

      @include media-w($smx) {
        margin-left: 0px;
      }
    }
  }

  &__point-text {
    margin: 0px auto;
    text-align: center;
    color: $white;

    @include media-w($smx) {
      font-size: 12px;
      line-height: 20px;
    }

    &--first {
      max-width: 122px;
      margin-left: 35px;

      @include media-w($smx) {
        margin: 0px;
      }
    }

    &--second {
      max-width: 202px;
      margin-left: -5px;
    }

    &--tree {
      max-width: 168px;
      margin-left: 3px;
    }

    &--four {
      max-width: 170px;
      margin-left: -7px;
    }
  }
}