.easy-start {
  padding: 74px 0 0 0;
  text-align: center;
  background-image: url(../images/easy-start/curve.png);
  background-repeat: no-repeat;
  background-size: 1023px;
  background-position: top 236px right 337px;

  &__title {
    margin-bottom: 42px;
  }

  &__list {
    padding-bottom: 144px;
    margin: 0px auto 0 111px;
    min-height: 502px;
    display: grid;
    grid-gap: 16px;
    grid-template-columns: 296px repeat(2, 1fr);

    max-width: 959px;
  }

  &__item {
    background-color: $white;
    box-shadow: 0px 4px 100px rgba(208, 218, 227, 0.57);
    border-radius: 20px;
    text-align: left;

    &:nth-child(1) {
      height: 243px;
    }

    &:nth-child(2) {
      grid-row: span 2;
    }

    &:nth-child(3) {
      height: 366px;
    }

    &:nth-child(4) {
      margin-top: -123px;
      height: 243px;
    }
  }

  &__link {
    min-height: 100%;
    display: block;
    border: 2px solid transparent;
    padding: 30px;
    transition: border 0.5s;

    &:hover {
      border: 2px solid #4917E8;
      border-radius: 20px;
    }

    &--mar {
      padding: 38px;
    }
  }

  &__num {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid $default;
    display: flex;
    justify-content: center;
    align-items: center;
    @extend %GothamPro-700;
    margin-bottom: 16px;
  }

  &__item-title {
    font-size: 16px;
    line-height: 2.25;
    margin-bottom: 9px;
  }

  &__item-text {
    max-width: 232px;
  }

  &__img {
    margin: 30px 0px 33px 0px;

    &--top {
      margin: 0px 0px 16px 3px;
    }
  }

  &__btn {
    margin: 14px 0 0 0;
    padding: 16px 21px;
  }

  &__prediction {
    padding: 96px 0 97px 0;
    background-color: $accent;
  }

  &__wrapper {
    margin: 0 auto;
    max-width: 1330px;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
  }

  &__subtitle {
    max-width: 406px;
    @extend %GothamPro-700;
    font-size: 32px;
    line-height: 1.37;
    color: $white;
  }

  &__inner {
    max-width: 784px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__point {
    width: 100%;
    max-width: 100%;

    &:first-child {
      max-width: 186px;
    }

    &:nth-child(2) {
      max-width: 202px;
    }

    &:nth-child(3) {
      max-width: 186px;
    }

    &:nth-child(4) {
      max-width: 186px;
    }
  }

  &__point-title {
    display: block;
    background: linear-gradient(180deg, #4614E8 0%, #BCA7FF 100%, #7247FF, );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    @extend %GothamPro-700;
    font-size: 32px;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 6px;

    &--second {
      margin-left: -8px;
    }

    &--tree {
      margin-left: -22px;
    }

    &--four {
      margin-left: -23px;
    }
  }

  &__point-text {
    margin: 0px auto;
    text-align: center;
    color: $white;

    &--first {
      max-width: 122px;
      margin-left: 35px;
    }

    &--second {
      max-width: 202px;
      margin-left: -5px;
    }

    &--tree {
      max-width: 168px;
      margin-left: 3px;
    }

    &--four {
      max-width: 170px;
      margin-left: -7px;
    }
  }
}