.footer {
  background-color: $bg;
  border-top: 1px solid $line;

  &__top {
    padding: 32px 0;
    background-color: $bg;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media-w($smx) {
      padding: 32px 0 48px 0;
      flex-direction: column;
    }
  }

  &__top-left {
    max-width: 490px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media-w($smx) {
      flex-direction: column;
    }
  }

  &__logo {
    width: 213px;
    margin-right: 48px;

    @include media-w($smx) {
      width: 126px;
      margin-right: 0px;
      margin-bottom: 16px;
    }
  }

  &__logo-img {
    @include media-w($smx) {
      width: 51px;
      height: 37px;
    }
  }

  &__top-text {
    max-width: 227px;
    @extend %GothamPro-400;
    font-size: 12px;
    line-height: 1.66;
    @include overflow($row-2);

    @include media-w($smx) {
      margin-bottom: 32px;
      text-align: center;
    }
  }

  &__top-right {
    margin-right: 29px;
    max-width: 168px;
  }

  &__bottom {
    padding: 16px 0;
    background-color: $bg-footer;
  }

  &__bottom-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $gray;

    @include media-w($smx) {
      flex-direction: column-reverse;
    }
  }

  &__bottom-copy {
    @extend %GothamPro-400;
    font-size: 12px;
    line-height: 1.66;
    @include overflow($row);

    @include media-w($smx) {
      font-size: 10px;
      max-width: 250px;
      text-align: center;
      line-height: 20px;
    }
  }

  &__bottom-politics {
    max-width: 340px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @extend %GothamPro-400;
    font-size: 10px;
    line-height: 2;

    @include media-w($smx) {
      flex-direction: column;
      margin-bottom: 32px;
    }
  }

  &__bottom-item {
    &:first-child {
      margin-right: 16px;
      @include overflow($row);

      @include media-w($smx) {
        margin-bottom: 9px;
        margin-right: 0;
      }
    }
  }
}