.footer {
  background-color: $bg;
  border-top: 1px solid $line;

  &__top {
    padding: 32px 0;
    background-color: $bg;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__top-left {
    max-width: 490px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    width: 213px;
    margin-right: 48px;
  }

  &__top-text {
    max-width: 227px;
    @extend %GothamPro-400;
    font-size: 12px;
    line-height: 1.66;
  }

  &__top-right {
    margin-right: 29px;
    max-width: 168px;
  }

  &__bottom {
    padding: 16px 0;
    background-color: $bg-footer;
  }

  &__bottom-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $gray;
  }

  &__bottom-copy {
    @extend %GothamPro-400;
    font-size: 12px;
    line-height: 1.66;
  }

  &__bottom-politics {
    max-width: 340px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @extend %GothamPro-400;
    font-size: 10px;
    line-height: 2;
  }

  &__bottom-item {
    &:first-child {
      margin-right: 16px;
    }
  }
}