html,
body {
  height: 100%;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  @extend %GothamPro-400;
  color: $default;
  font-size: 14px;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  overflow-y: scroll;
  background-color: $bg;
}

a {
  // color: $default;
  // font-size: 16px;
  // line-height: 1.6;
  // @extend %quicksand-500;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1310px;
  padding: 0 15px;
  margin: 0 auto;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title {
  @extend %GothamPro-700;
  font-size: 32px;
  line-height: 1.37;
  color: $title;
  // text-transform: uppercase;

  // @include media-w($sms) {
  //   font-size: 40px;
  // }

  // @include media-w($xxs) {
  //   font-size: 32px;
  // }
}

.logo {
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__text {
    max-width: 88px;
    @extend %Roboto-300;
    font-size: 16px;
    line-height: 1.18;
    color: #3b1d8f;
  }
}

.btn {
  @extend %btn;

  &:focus {
    @extend %btn-focus;
  }

  &:hover {
    @extend %btn-hover;
  }

  &:active {
    @extend %btn-active;
  }
}

.menu {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  @include media-w($sm) {
    position: absolute;
    left: 0;
    right: 0;
    top: 0px;
    transform: translateY(-200%);
    flex-direction: column;
    align-items: center;
    background-color: $accent-light;
    text-align: center;
    transition: transform 0.5s;
    z-index: 2;
    height: 100vh;
    overflow: scroll;


  }

  &__item {
    &:first-child {
      margin-left: -5px;
    }
  }

  &__item:not(:last-child) {
    margin-right: 36px;
  }

  &__link {
    display: inline-block;
    padding: 15px 5px;
    border: 1px solid transparent;
    @extend %GothamPro-400;
    font-size: 16px;
    line-height: 1;
    letter-spacing: 0.03em;
    color: #000000;
    transition: 0.5s;

    @include media-w($sm) {
      color: $white;
    }

    &:focus {
      box-shadow: 0px 10px 40px 0px rgb(162 162 162 / 50%);
    }

    &:hover {
      color: $accent;
    }

    &:active {
      border: 1px solid $accent;
    }

  }
}

.menu--active {
  transform: translateY(0);
}

.social {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__item {
    padding: 9px;
    width: 36px;
    height: 36px;
    border: 1px solid #cfdae7;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;

    &:hover {
      border: 2px solid #cfdae7;
      padding: 8px;
    }
  }

  &__item:not(:last-child) {
    margin-right: 8px;
  }

  &__item-svg {
    width: 18px;
    height: 18px;
  }
}

.burger {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 7px;
  border: 1px solid transparent;
  position: relative;
  z-index: 15;
  background-color: $line;
  display: none;

  @include media-w($sm) {
    display: flex;
  }

  &__span {
    width: 22px;
    height: 2px;
    background-color: #4614e8;
    border-radius: 1px;
    display: block;
    position: relative;
    transition: transform 0.5s;

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 22px;
      height: 2px;
      background-color: #4614e8;
      border-radius: 1px;
      left: 0;
      transition: transform 0.5s;
    }

    &::before {
      top: 5px;
    }

    &::after {
      bottom: 5px;
    }
  }
}

.burger--active .burger__span {
  background-color: transparent;
}

.burger--active .burger__span::before {
  transform: rotate(45deg);
  top: 0;
}

.burger--active .burger__span::after {
  transform: rotate(-45deg);
  bottom: 0;
}