.header {
  padding: 45px 0 0 0;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 28px;
  }

  &__left {
    max-width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__right {
    max-width: 320px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__btn {
    @include media-w($sm) {
      display: none;
    }
  }

  &__text {
    max-width: 227px;
    font-size: 12px;
    line-height: 1.66;
    color: $title;
    @include overflow($row-3);

    @include media-w($sm) {
      display: none;
    }
  }

  &__logo {
    margin-right: 62px;
  }

  &__tel {
    position: relative;
    display: inline-block;
    margin-right: 36px;
    max-width: 145px;
    @extend %GothamPro-700;
    color: $title;
    font-size: 16px;
    line-height: 1.1;

    @include media-w($smx) {
      display: none;
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      width: 0;
      height: 2px;
      background-color: $title;
      transition: width 0.5s;
    }

    &:hover::after,
    &:focus::after {
      width: 100%;
    }
  }

  &__tel-picture {
    display: none;

    @include media-w($smx) {
      display: block;
      cursor: pointer;
    }
  }

  &__bottom {
    max-width: 650px;
    margin-right: auto;
  }
}