.partners {
  padding: 0 0 70px 0;

  &__top {
    min-height: 398px;
    background-color: $accent;
    background-image: url(../images/partners/bg/partners-bg.png);
    @extend %bg-center-cover;
    margin-bottom: 76px;
  }

  &__inner {
    padding-top: 86px;
    max-width: 1048px;
    margin: 0px auto;
  }

  &__title {
    color: $white;
    margin-bottom: 15px;
  }

  &__earnings {
    max-width: 309px;
    font-size: 16px;
    color: $white-light;
  }

  &__bottom {
    text-align: center;
  }

  &__list {
    margin: 0 auto 32px;
    max-width: 1062px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 16px;
  }

  &__item {
    padding: 53px 186px 48px 109px;
    border: 1px solid transparent;
    background-color: $white;
    border-radius: 20px;
    text-align: left;

    &--second {
      padding: 62px 185px 39px 109px;
    }

    &--third {
      padding: 61px 185px 38px 109px;
    }

    &--fours {
      padding: 69px 186px 37px 109px;
    }
  }

  &__item-inner {
    display: flex;
    justify-content: space-between;
  }

  &__btn {
    padding: 17px 54px;
  }

  &__content {
    max-width: 515px;
  }

  &__item-title {
    margin: -7px 0px 7px 0px;
    font-size: 16px;
    line-height: 2.25;

    &--second {
      margin: -15px 0px 10px 0px;
    }

    &--third {
      margin: -15px 0px 7px 0px;
    }

    &--fours {
      margin: -22px 0px 7px 0px;
    }
  }

  &__item-text {
    line-height: 1.4;
    margin-bottom: 11px;
  }

  &__item-text--light {
    color: $gray;
    margin-bottom: 0;
  }

  &__item-list {
    list-style-type: disc;
    margin: 0px 0px 9px 23px;
  }

  &__item-point {}

}