.partners {
  padding: 0 0 70px 0;

  @include media-w($md) {
    padding: 0 0 35px 0;
  }

  &__top {
    min-height: 398px;
    background-color: $accent;
    background-image: url(../images/partners/bg/partners-bg.png);
    @extend %bg-center-cover;
    margin-bottom: 76px;

    @include media-w($smm) {
      margin-bottom: 16px;
      min-height: auto;
    }
  }

  &__inner {
    padding-top: 86px;
    max-width: 1042px;
    margin: 0px auto;

    @include media-w($smx) {
      text-align: center;
    }

    @include media-w($smm) {
      padding: 45px 0 120px 0;
    }
  }

  &__title {
    color: $white;
    margin-bottom: 14px;

    @include media-w($smm) {
      display: inline-block;
      max-width: 243px;
      margin-left: -12px;
    }
  }

  &__earnings {
    max-width: 309px;
    font-size: 16px;
    color: $white-light;
    @include overflow($row-3);

    @include media-w($smx) {
      display: inline-block;
      max-width: 274px;
      font-size: 12px;
      line-height: 150%;
    }
  }

  &__bottom {
    text-align: center;
  }

  &__list {
    margin: 0 auto 31px;
    max-width: 1062px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 16px;

    @include media-w($smx) {
      margin: 0 auto 25px;
      grid-row-gap: 8px;
    }
  }

  &__item {
    padding: 56px 186px 48px 109px;
    border: 1px solid transparent;
    background-color: $white;
    border-radius: 20px;
    text-align: left;

    @include media-w($mdb) {
      text-align: center;
      padding: 25px;
    }

    &--second {
      padding: 62px 185px 39px 109px;

      @include media-w($mdb) {
        padding: 24px;
      }
    }

    &--third {
      padding: 61px 185px 38px 109px;

      @include media-w($mdb) {
        padding: 24px;
      }
    }

    &--fours {
      padding: 69px 186px 37px 109px;

      @include media-w($mdb) {
        padding: 24px;
      }
    }
  }

  &__item-inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @include media-w($mdb) {
      align-items: flex-start;
    }
  }

  &__btn {
    padding: 17px 54px;

    @include media-w($smx) {
      width: 220px;
      height: 50px;
      padding: 14px 14px;
      font-size: 12px;
      line-height: 18px;
    }
  }

  &__content {
    max-width: 515px;

    @include media-w($mdb) {
      text-align: left;
      max-width: 100%;
    }
  }

  &__img {
    &--first {
      @include media-w($mdb) {
        margin-bottom: 14px;
      }

      @include media-w($smx) {
        width: 136px;
        height: 75px;
      }
    }

    &--second {
      @include media-w($mdb) {
        margin-bottom: 23px;
      }

      @include media-w($smx) {
        width: 136px;
        height: 92px;
      }
    }

    &--third {
      @include media-w($mdb) {
        margin-bottom: 23px;
      }

      @include media-w($smx) {
        width: 190px;
        height: 92px;
      }
    }

    &--four {
      @include media-w($mdb) {
        margin-bottom: 30px;
      }

      @include media-w($smx) {
        width: 143px;
        height: 104px;
      }
    }

    @include media-w($mdb) {
      display: inline-block;
    }

  }

  &__item-title {
    margin: -7px 0px 7px 0px;
    font-size: 16px;
    line-height: 2.25;
    @include overflow($row);

    @include media-w($smx) {
      margin: -7px 0px 13px -6px;
      font-size: 14px;
      line-height: 30px;
    }

    &--second {
      margin: -15px 0px 10px 0px;

      @include media-w($smx) {
        margin: -15px 0px 13px -9px;
      }
    }

    &--third {
      margin: -15px 0px 7px 0px;

      @include media-w($smx) {
        margin: -15px 0px 13px -7px;
      }
    }

    &--fours {
      margin: -22px 0px 7px 0px;

      @include media-w($smx) {
        margin: -22px 0px 14px -9px;
      }
    }
  }

  &__item-text {
    line-height: 1.4;
    margin-bottom: 11px;
    @include overflow($row-3);

    @include media-w($smx) {
      font-size: 12px;
      line-height: 20px;
    }

    strong {
      @include overflow($row);
    }
  }

  &__item-text--light {
    color: $gray;
    margin-bottom: 0;
    @include overflow($row-3);

    @include media-w($smx) {
      font-size: 12px;
      line-height: 20px;
    }
  }

  &__item-list {
    list-style-type: disc;
    margin: 0px 0px 9px 23px;
  }
}