.policy {
  padding: 0px 0 92px 0;

  @include media-w($md) {
    padding: 0px;
  }

  @include media-w($smm) {
    padding: 0;
  }

  &__top {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media-w($md) {
      flex-direction: column;
    }
  }

  &__img {
    position: relative;
    z-index: 1;

    @include media-w($md) {
      z-index: -1;
      margin-top: -133px;
    }

    @include media-w($smm) {
      width: 280px;
      height: 312px;
      margin-top: -165px;
    }
  }

  &__drawing {
    position: relative;
    margin-top: -34px;
    @extend %GothamPro-700;
  }

  &__drawing-text {
    position: absolute;
    top: 41px;
    right: 68px;
    width: 94px;
    height: 77px;
    z-index: 2;

    @include media-w($md) {
      right: 36%;
      top: 86px;
    }

    @include media-w($smm) {
      right: 77px;
    }

    &::before {
      position: absolute;
      content: '';
      width: 145px;
      height: 145px;
      top: -41px;
      left: -47px;
      background-image: url(../images/policy/roll.png);
      background-size: cover;

      @include media-w($smm) {
        width: 122px;
        height: 122px;
        top: -33px;
        left: -35px;
      }
    }
  }

  &__drawing-income {
    display: block;
    font-size: 14px;
    line-height: 1.14;
    color: $title;

    @include media-w($smm) {
      font-size: 12px;
      margin-left: 6px;
      margin-bottom: 1px;
    }
  }

  &__drawing-summ {
    margin-left: -13px;
    margin-bottom: 4px;
    display: block;
    font-size: 16px;
    line-height: 1.14;
    color: $title;

    @include media-w($smm) {
      font-size: 12px;
      margin-left: 1px;
    }
  }

  &__drawing-each {
    display: block;
    @extend %GothamPro-400;
    font-size: 12px;
    line-height: 1.16;

    @include media-w($smm) {
      font-size: 10px;
      margin-left: 7px;
    }

    &--first {
      margin-left: -7px;

      @include media-w($smm) {
        margin-left: 0px;
      }
    }
  }

  &__title {
    max-width: 733px;
    @extend %GothamPro-700;
    font-size: 48px;
    line-height: 1.14;
    color: #262626;
    margin-bottom: 22px;

    @include media-w($xl) {
      font-size: 38px;
    }

    @include media-w($md) {
      font-size: 24px;
    }
  }

  &__title-span {
    display: block;
    @include overflow($row);

    @include media-w($smm) {
      display: none;
    }

    &--hide {
      display: none;

      &:last-child {
        @include media-w($smm) {
          display: block;
          margin-bottom: -5px;
        }
      }

      @include media-w($smm) {
        display: block;
        margin-bottom: 4px;
        margin-right: 15px;
        max-width: 275px;
        @include overflow($row);
      }
    }
  }

  &__content {
    padding-top: 19px;
    margin-right: 22px;

    @include media-w($md) {
      text-align: center;
      margin-right: 0;
    }

    & p {
      max-width: 547px;
      margin-bottom: 43px;
      @include overflow($row-5);

      @include media-w($md) {
        font-size: 12px;
        margin-bottom: 19px;
      }
    }
  }

  &__btn {
    padding: 18px 31px;

    @include media-w($md) {
      padding: 18px 21px;
      font-size: 12px;
    }

    @include media-w($smm) {
      margin-right: 12px;
    }
  }

  &__bottom {
    margin-top: -80px;
    padding: 39px 28px 35px 28px;
    margin-left: auto;
    max-width: 712px;
    background-color: $bg-light;
    box-shadow: 0px 4px 100px rgba(208, 218, 227, 0.57);
    border-radius: 10px;
    @extend %GothamPro-400;
    font-size: 16px;
    line-height: 1.6;
    color: $title;

    @include media-w($md) {
      margin: 0 auto;
      margin-top: 0;
    }

    @include media-w($smm) {
      padding: 39px 28px 22px 28px;
      margin-top: 45px;
    }
  }

  &__list {
    display: flex;
    justify-content: space-around;
    align-items: center;

    @include media-w($md) {
      flex-direction: column;
    }
  }

  &__item {
    position: relative;
    padding-top: 40px;

    &:last-child {
      @include media-w($smm) {
        margin-bottom: 0;
      }
    }

    @include media-w($md) {
      margin-bottom: 24px;
      text-align: center;
    }

    @include media-w($smm) {
      padding-top: 44px;
      margin-right: 6px;
    }

    &::before {
      position: absolute;
      content: '';
      width: 40px;
      height: 40px;
      top: 0;
      left: 0;
      @extend %bg-center-contain;

      @include media-w($md) {
        left: 50%;
        transform: translateX(-50%);
      }
    }

    &:first-child {
      max-width: 149px;

      @include media-w($smm) {
        max-width: 100%;
      }

      &:before {
        background-image: url(../images/policy/icons/support.svg);
        top: -10px;
        left: 5px;

        @include media-w($md) {
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }

    &:nth-child(2) {
      max-width: 224px;

      &::before {
        top: -9px;
        background-image: url(../images/policy/icons/many.svg);

        @include media-w($md) {
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }

    &:last-child {
      max-width: 179px;

      &::before {
        top: -9px;
        left: 0;
        width: 53px;
        height: 40px;
        background-image: url(../images/policy/icons/bonus.svg);

        @include media-w($md) {
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
  }

  &__link {
    display: block;
    transition: box-shadow 0.5s;
    @include overflow($row-3);

    @include media-w($smm) {
      max-width: 216px;
      font-size: 14px;
      margin-bottom: 7px;
    }

    &:hover {
      box-shadow: 0px 10px 40px 0px rgb(162 162 162 / 50%);
    }
  }
}