.supervisor {
  padding: 144px 0 170px 0;

  @include media-w($md) {
    padding: 44px 0 70px 0;
  }

  @include media-w($smx) {
    padding: 72px 0 148px 0;
  }

  &__text {
    @include overflow($row-3);
  }

  &__inner {
    margin: 0px auto 0 111px;
    max-width: 985px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media-w($mdb) {
      flex-direction: column-reverse;
      margin: 0px;
    }
  }

  &__image {
    position: relative;

    @include media-w($smx) {
      text-align: left;
    }

    @include media-w($xxs) {
      margin-right: auto;
    }

  }

  &__img {
    position: relative;
    border-radius: 20px;

    @include media-w($smx) {
      width: 100%;
      height: auto;
    }

    @include media-w($xxs) {
      width: 203px;
      height: 283px;
    }
  }

  &__image-text {
    position: absolute;
    padding: 43px 32px 32px 32px;
    width: 360px;
    height: 125px;
    background: linear-gradient(331.41deg, #F0EBFF -4.05%, #FFFFFF 34.42%);
    box-shadow: 0px 13.5277px 39.7872px rgba(187, 166, 255, 0.2);
    border-radius: 11.9362px;
    bottom: -28px;
    right: -130px;
    @extend %GothamPro-italic-400;
    font-size: 12px;
    line-height: 1.3;
    color: $title;

    @include media-w($smx) {
      bottom: -28px;
      right: -40px;
    }

    @include media-w($sms) {
      bottom: -28px;
      right: 0px;
    }

    @include media-w($xxs) {
      bottom: -42px;
      right: -84px;
      padding: 26px 16px 16px 16px;
      width: 241px;
      height: 106px;
      font-size: 11px;
      line-height: 16px;
    }

    p {
      @include overflow($row-3);
    }
  }

  &__image-span {
    position: absolute;
    top: 29px;
    @extend %GothamPro-400;
    font-size: 32px;
    line-height: 16px;
    color: $title;

    @include media-w($xxs) {
      font-size: 24px;
      top: 15px;
      left: 15px;
    }
  }

  &__content {
    margin-top: -87px;
    max-width: 469px;

    @include media-w($mdb) {
      text-align: center;
      margin: 0px 0px 32px 0px;
      max-width: 100%;
    }
  }

  &__title {
    margin-bottom: 8px;
    @include overflow($row);

    @include media-w($smx) {
      margin-bottom: 17px;
    }
  }

  &__boss {
    @include overflow($row);

    @include media-w($smm) {
      font-size: 12px;
      line-height: 20px;
    }
  }

  &__manager {
    @extend %GothamPro-500;
    margin-bottom: 32px;
    @include overflow($row);

    @include media-w($smm) {
      font-size: 12px;
      line-height: 20px;
      margin-bottom: 16px;
    }
  }

  &__text {
    @include overflow($row-3);

    @include media-w($smm) {
      text-align: left;
      font-size: 12px;
      line-height: 20px;
      margin-left: 7px;
    }
  }

  &__list {
    margin: 0 0 14px 21px;
    list-style-type: disc;

    @include media-w($mdb) {
      text-align: left;
    }

    @include media-w($smm) {
      margin: 0 0 14px 25px;
      font-size: 12px;
      line-height: 20px;
      margin-bottom: 8px;
    }
  }

  &__item {
    max-width: 300px;

    & span {
      display: block;
      margin-left: -21px;
    }
  }

  &__tex {
    margin-bottom: 33px;
    @include overflow($row-3);

    @include media-w($mdb) {
      text-align: left;
    }

    @include media-w($smm) {
      font-size: 12px;
      line-height: 20px;
      margin-bottom: 17px;
      margin-left: 7px;
    }
  }

  &__btn {
    padding: 18px 39px;

    @include media-w($smx) {
      padding: 9px 12px;
      width: 220px;
      height: 50px;
      font-size: 12px;
      line-height: 18px;
    }
  }
}