.tariffs {
  padding: 44px 0px 142px 0px;

  &__inner {
    text-align: center;
    max-width: 1062px;
    margin: 0 auto;
  }

  &__title {
    margin-bottom: 10px;
  }

  &__subtitle {
    display: block;
    margin-bottom: 30px;

    @include media-w($smx) {
      font-size: 12px;
      line-height: 150%;
      margin-bottom: 15px;
    }
  }

  &__period {
    margin: 0 auto 32px 384px;
    max-width: 234px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media-w($lg) {
      margin: 0 auto 32px;
    }

    @include media-w($smx) {
      max-width: 158px;
      margin: 0 60px 18px;
    }
  }

  &__btn {
    padding: 8px 28px 10px 27px;
    font-size: 20px;
    line-height: 1.5;

    @include media-w($smx) {
      padding: 7px 29px 7px 29px;
      font-size: 12px;
    }
  }

  &__year {
    color: $accent;
    font-size: 20px;
    line-height: 1.5;
    border-bottom: dotted $accent;

    @include media-w($smx) {
      font-size: 14px;
      line-height: 23px;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 32px;

    @include media-w($sm) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__card {
    padding: 49px 48px 48px 50px !important;
    text-align: left;

    @include media-w($smx) {
      text-align: center;
    }

    .card__title {
      margin-bottom: 22px;

    }

    .card__for {
      margin-bottom: 17px;
    }

    .card__access {
      margin-bottom: 12px;
    }

    .card__position {
      margin-top: 15px;
    }

    .card__details {
      margin: 12px 0 12px 2px;

      &--mt {
        margin: 35px 0 13px 2px;
      }
    }
  }
}

.card {
  padding: 48px;
  background-color: $white;
  border-radius: 20px;

  &__title {
    @extend %GothamPro-700;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    color: $accent-light;
    margin-bottom: 16px;

    @include media-w($smx) {
      font-size: 12px;
      line-height: 30px;
      margin-bottom: 7px;
    }
  }

  &__free {
    margin: -8px 0 10px 0;
    color: $silver;
    font-size: 32px;
    line-height: 1.37;

    @include media-w($smx) {
      font-size: 18px;
      line-height: 44px;
      margin: -8px 0 3px 0;
    }
  }

  &__for {
    margin-bottom: 23px;
    color: #737373;

    @include media-w($smx) {
      font-size: 12px;
      line-height: 20px;
      margin-bottom: 16px;
    }
  }

  &__access {
    font-size: 16px;
    line-height: 1.87;
    color: $default;
    margin-bottom: 13px;

    @include media-w($smx) {
      font-size: 14px;
      line-height: 30px;
      margin-bottom: 9px;
    }
  }

  &__wrapper {
    display: flex;
    margin-bottom: 12px;

    @include media-w($mdb) {
      flex-direction: column;
      align-items: center;
    }

    @include media-w($smx) {
      font-size: 12px;
      line-height: 20px;
    }
  }

  &__left {
    text-align: left;
    max-width: 301px;
    width: 100%;
    margin-left: 172px;

    @include media-w($mdb) {
      margin-left: 0px;
    }
  }

  &__right {
    max-width: 309px;
    margin-left: 27px;
    text-align-last: left;

    @include media-w($mdb) {
      margin-left: 0px;
    }
  }

  &__position {
    position: relative;
    padding-left: 18px;
    font-size: 16px;
    line-height: 2.5;
    text-align: left;

    @include media-w($smx) {
      font-size: inherit;
    }

    &::before {
      content: "";
      position: absolute;
      width: 7px;
      height: 7px;
      background-image: url(../images/benefits/triangle.svg);
      top: 16px;
      left: -2px;
    }

    &--height {
      margin-top: 8px;
      line-height: 1.5;

      &::before {
        top: 9px;
      }
    }
  }

  &__details {
    display: block;
    margin: 0 auto 11px;
    position: relative;
    padding: 5px 32px 5px 0px;
    max-width: 290px;
    font-size: 16px;
    line-height: 2.5;
    color: $accent-light;
    transition: box-shadow 0.5s;

    @include media-w($smx) {
      font-size: 12px;
      line-height: 40px;
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      width: 0;
      height: 2px;
      background-color: $accent-light;
      transition: width 0.5s;
    }

    &:hover::after {
      width: 100%;
    }

    &:focus {
      box-shadow: 0px 10px 40px 0px rgb(162 162 162 / 50%);
    }

    &:active {
      box-shadow: 0px 10px 40px 0px rgb(162 162 162 / 50%);
    }

    &::before {
      content: '';
      position: absolute;
      top: 16px;
      right: 0px;
      width: 15px;
      height: 16px;
      background-image: url(../images/benefits/chat/arrow-right.svg);
      @extend %bg-center-cover;
    }

  }

  &__btn {
    padding: 18px 40px;

    @include media-w($smx) {
      padding: 13px 38px;
      font-size: 12px;
      line-height: 18px;
      width: 220px;
      height: 50px;
    }
  }

  &__big {
    padding: 50px 48px 48px 48px;
    margin-bottom: 32px;

    @include media-w($mdb) {
      text-align: center;
    }

    @include media-w($smx) {
      padding: 22px 19px 24px 23px;
    }

  }
}