.team {
  padding: 95px 0 48px 0;

  @include media-w($smm) {
    padding: 85px 0 48px 0;
  }

  &__top {
    max-width: 932px;
    margin-left: 114px;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 44px;

    @include media-w($lg) {
      flex-direction: column;
      margin-left: 0;
      text-align: center;
      max-width: 100%;
      margin-right: 8px;
    }

    @include media-w($smm) {
      margin-bottom: 33px;
    }
  }

  &__content {
    max-width: 438px;

    @include media-w($lg) {
      max-width: 100%;
    }

    p {
      line-height: 150%;
      max-width: 405px;
      @include overflow($row-7);

      @include media-w($lg) {
        max-width: 100%;
        margin-bottom: 16px;
      }

      @include media-w($smm) {
        font-size: 12px;
        margin-bottom: 25px;
      }
    }
  }

  &__logo {
    margin: -10px 0px 29px 0px;

    @include media-w($lg) {
      display: inline-block;
    }

    @include media-w($smm) {
      margin: -10px 0px 17px 0px;
    }
  }

  &__title {
    margin-bottom: 19px;

    @include media-w($smm) {
      margin-bottom: 16px;
    }
  }

  &__cards {
    max-width: 435px;
  }

  &__row {
    &:first-child {
      display: flex;
      align-items: flex-end;
      margin-bottom: 17px;
    }
  }

  &__row-second {
    margin-right: -14px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
  }

  &__card {
    background: linear-gradient(236.29deg, #FFFFFF 29.99%, #F4F9FF 79.17%);
    box-shadow: 0px 4px 100px rgba(208, 218, 227, 0.57);
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
    text-align: left;

    &:hover {
      box-shadow: 0px 10px 40px 0px rgb(162 162 162 / 50%);
    }

    &:first-child {
      padding: 24px 29px 32px 28px;
      width: 217px;
      margin-right: 25px;

      @include media-w($sm) {
        padding: 16px 16px 16px 16px;
        width: 140px;
      }

      @include media-w($smm) {
        padding: 15px 15px 15px 19px;
        margin-bottom: 12px;
      }
    }

    &:nth-child(2) {
      padding: 19px 24px 24px 22px;
      position: relative;
      height: 137px;
      width: 177px;

      @include media-w($sm) {
        padding: 16px 8px 14px 16px;
        height: 91px;
        width: 124px;
      }

      @include media-w($smm) {
        padding: 16px 8px 14px 12px;
      }

      &::after {
        position: absolute;
        display: block;
        content: '';
        width: 159px;
        height: 159px;
        border-radius: 50%;
        background: linear-gradient(90deg, #E1D8FF 21.57%, #F4ECFF 100%);
        top: -64px;
        right: -129px;
        z-index: -1;

        @include media-w($sm) {
          width: 102px;
          height: 102px;
          top: -40px;
          right: -53px;
        }
      }
    }
  }

  &__card-second {
    position: relative;
    background: linear-gradient(236.29deg, #FFFFFF 29.99%, #F4F9FF 79.17%);
    box-shadow: 0px 4px 100px rgba(208, 218, 227, 0.57);
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
    text-align: left;

    &:hover {
      box-shadow: 0px 10px 40px 0px rgb(162 162 162 / 50%);
    }

    &:first-child {
      position: relative;
      height: 135px;
      padding: 19px 24px 24px 29px;
      width: 179px;
      margin-right: 26px;

      @include media-w($sm) {
        padding: 14px 8px 14px 16px;
        height: 91px;
        width: 124px;
      }

      @include media-w($xxs) {
        margin-top: -12px;
      }

      &::after {
        position: absolute;
        display: block;
        content: '';
        width: 39px;
        height: 39px;
        border-radius: 50%;
        background: linear-gradient(90deg, #E1D8FF 21.57%, #F4ECFF 100%);
        top: -12px;
        right: 157px;
        z-index: -1;

        @include media-w($sm) {
          width: 25px;
          height: 25px;
          top: -12px;
          right: 109px;
        }
      }
    }

    &:nth-child(2) {
      padding: 29px 29px 32px 34px;
      width: 192px;
      height: 171px;

      @include media-w($sm) {
        padding: 18px 27px 17px 8px;
        width: 132px;
        height: 110px;
      }

      &::after {
        position: absolute;
        display: block;
        content: '';
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background: linear-gradient(90deg, #E1D8FF 21.57%, #F4ECFF 100%);
        top: 27px;
        right: 180px;
        z-index: -1;
      }
    }
  }

  &__card-label {
    display: flex;
    align-items: flex-end;
    background: linear-gradient(180deg, #4614E8 0%, #BCA7FF 100%, #7247FF, );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    &--first {
      @extend %GothamPro-700;
      font-size: 48px;
      line-height: 1;
      display: block;
      margin-bottom: 11px;

      @include media-w($sm) {
        font-size: 32px;
        line-height: 30px;
        margin-bottom: 6px;
      }
    }

    &--second {
      @extend %GothamPro-700;
      font-size: 36px;
      line-height: 1.2;
      display: block;
      margin-bottom: 7px;

      @include media-w($sm) {
        font-size: 32px;
        line-height: 30px;
      }

      @include media-w($smm) {
        margin-bottom: 5px;
      }
    }

    &--third {
      @extend %GothamPro-700;
      font-size: 36px;
      line-height: 1.2;
      display: block;
      margin-bottom: 5px;

      @include media-w($sm) {
        font-size: 32px;
        line-height: 30px;
      }
    }

    &--fours {
      @extend %ArtegraSans-800;
      font-size: 16px;
      line-height: 46px;
      display: block;
      letter-spacing: 0.29em;

      @include media-w($sm) {
        font-size: 12px;
        line-height: 30px;
      }
    }
  }

  &__card-litle {
    &:first-child {
      font-size: 16px;
      line-height: 1.5;

      @include media-w($sm) {
        font-size: 10px;
        line-height: 150%;
      }
    }
  }

  &__bottom {
    text-align: center;
    margin: 0 auto;
    max-width: 1064px;
  }

  &__bottom-title {
    @extend %GothamPro-700;
    margin-bottom: 26px;
    @include overflow($row);

    @include media-w($sm) {
      font-size: 14px;
      margin-bottom: 24px;
    }
  }

  &__bottom-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 16px;

    @include media-w($mdl) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include media-w($smx) {
      grid-template-columns: repeat(1, 1fr);
      grid-row-gap: 8px;
    }
  }

  &__bottom-item {
    max-width: 344px;
    border: 1px solid transparent;
    padding: 32px 32px 32px 32px;
    background-color: $white;
    border-radius: 10px;
    text-align: left;
    transition: border 0.5s, box-shadow 0.5s;

    @include media-w($lg) {
      max-width: 100%;
      height: 281px;
    }

    @include media-w($mdl) {
      max-width: 95%;
      grid-column-gap: 16px;
    }

    @include media-w($smx) {
      text-align: center;
      max-width: 100%;
      grid-column-gap: 0px;
    }

    &:focus {
      box-shadow: 0px 4px 100px rgba(132, 186, 233, 0.57);
    }

    &:hover {
      border: 1px solid $accent-light;
    }

    &:active {
      border: 1px solid $accent-light;
      box-shadow: 0px 4px 100px rgba(132, 186, 233, 0.57);
    }

    &:first-child {
      padding: 32px 32px 32px 32px;

      @include media-w($lg) {
        padding: 24px 24px 24px 24px;
      }

      @include media-w($smm) {
        padding: 20px 24px 28px 15px;
      }
    }

    &:nth-child(2) {
      padding: 32px 33px 32px 39px;

      @include media-w($lg) {
        padding: 24px 24px 24px 24px;
      }

      @include media-w($smm) {
        padding: 20px 24px 28px 15px;
      }
    }

    &:nth-child(3) {
      padding: 32px 32px 32px 44px;

      @include media-w($lg) {
        padding: 24px 24px 24px 24px;
      }

      @include media-w($smm) {
        padding: 20px 24px 28px 15px;
      }
    }

    p {
      @include overflow($row-6);

      @include media-w($lg) {
        font-size: 12px;
      }
    }
  }

  &__bottom-img {
    display: block;
    margin: 0 auto;
    margin-bottom: 16px;

    &--first {
      @include media-w($lg) {
        width: 115px;
        height: 93px;
      }
    }

    &--second {
      @include media-w($lg) {
        width: 122px;
        height: 94px;
      }
    }

    &--thirt {
      @include media-w($lg) {
        width: 119px;
        height: 94px;
      }
    }
  }

  &__bottom-name {
    @extend %GothamPro-700;
    color: $title;
    margin-bottom: 12px;
    letter-spacing: 2px;
    @include overflow($row);

    @include media-w($smm) {
      letter-spacing: 0px;
    }
  }

  &__card-text {
    @include overflow($row-3);

    @include media-w($sm) {
      font-size: 10px;
      line-height: 150%;
    }
  }
}