/*::::::::::::::::::::::::::цвета:::::::::::::::::::::::::::::::::::::::::::::::*/
$accent:#273895;
$accent-light: #2741d0;
$default:#404040;
$title:#303030;
$white: #ffffff;
$white-light: #e9e9e9;
$bg:#e5e5e5;
$bg-light:#f4f7fa;
$line:#dee6ef;
$bg-footer:#e8edf3;
$gray: #7a7a7a;
$black: #000000;
$silver: #c9c9c9;
// $yellow: #ffb534;
// $blue: #34c3ff;
/*::::::::::::::::::::::::::цвета-finish::::::::::::::::::::::::::::::::::::::::*/
/*::::::::::::::::::::::::::переменные::::::::::::::::::::::::::::::::::::::::::*/
$row: 1;
$row-2:2;
$row-3:3;
$row-10:10;
/*::::::::::::::::::::::::::переменные-finish:::::::::::::::::::::::::::::::::::*/
/*::::::::::::::::::::::::::mixins::::::::::::::::::::::::::::::::::::::::::::::*/

@mixin overflow($row) {
  -webkit-line-clamp: $row;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/*::::::::::::::::::::::::::mixins-finish::::::::::::::::::::::::::::::::::::::::*/
/*::::::::::::::::::::::::::обои::::::::::::::::::::::::::::::::::::::::::::::::*/
%bg-left {
  background-position: left center;
  background-size: cover;
  background-repeat: no-repeat;
}

%bg-center-cover {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

%bg-center-contain {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

/*::::::::::::::::::::::::::обои-finish:::::::::::::::::::::::::::::::::::::::::*/
/*::::::::::::::::::::::::::брекпоинты::::::::::::::::::::::::::::::::::::::::::*/
$xl: 1230px;
$lg: 1200px;
$mdb: 1100px;
$md: 1050px;
$mdl: 992px;
$sm: 860px;
$smx: 768px;
$smz: 700px;
$sms: 620px;
$smm: 500px;
$xs: 450px;
$xxs: 375px;

/*::::::::::::::::::::::::::брекпоинты-finish:::::::::::::::::::::::::::::::::::*/
/*::::::::::::::::::::::::::миксин для брейкпоинтов:::::::::::::::::::::::::::::*/
@mixin media-w($w) {
  @media only screen and (max-width: $w) {
    @content;
  }
}

/*::::::::::::::::::::::::::миксин для брейкпоинтов-finish::::::::::::::::::::::*/
/*::::::::::::::::::::::::::наследование для шрифтов::::::::::::::::::::::::::::*/
%ArtegraSans-900 {
  font-family: 'ArtegraSansBlack', sans-serif;
  font-weight: 900;
}

%ArtegraSans-800 {
  font-family: 'ArtegraSans-ExtraBold', sans-serif;
  font-weight: 800;
}

%ArtegraSans-600 {
  font-family: 'ArtegraSans-SemiBold', sans-serif;
  font-weight: 600;
}

%ArtegraSans-400 {
  font-family: 'ArtegraSans-Regular', sans-serif;
  font-weight: 400;
}

%GothamPro-700 {
  font-family: 'GothamPro-Bold', sans-serif;
  font-weight: 700;
}

%GothamPro-italic-400 {
  font-family: 'GothamPro-Italic', sans-serif;
  font-weight: 400;
}

%GothamPro-300 {
  font-family: 'GothamPro-Light', sans-serif;
  font-weight: 300;
}

%GothamPro-500 {
  font-family: 'GothamPro-Medium', sans-serif;
  font-weight: 500;
}

%GothamPro-400 {
  font-family: 'GothamPro', sans-serif;
  font-weight: 400;
}

%Montserrat-700 {
  font-family: 'Montserrat-Bold', sans-serif;
  font-weight: 700;
}

%Montserrat-500-italic {
  font-family: 'Montserrat-MediumItalic', sans-serif;
  font-weight: 500;
}

%Montserrat-400 {
  font-family: 'Montserrat-Regular', sans-serif;
  font-weight: 400;
}

%Montserrat-600 {
  font-family: 'Montserrat-SemiBold', sans-serif;
  font-weight: 600;
}

%Roboto-300 {
  font-family: 'Roboto-Light', sans-serif;
  font-weight: 300;
}

/*::::::::::::::::::::::::::наследование для шрифтов-finish:::::::::::::::::::::*/
/*::::::::::::::::::::::::::наследование для кнопки:::::::::::::::::::::::::::::*/
%btn {
  padding: 16px 31px;
  background-color: $accent;
  color: $white;
  @extend %GothamPro-700;
  font-size: 16px;
  line-height: 1.1;
  border-radius: 15px;
  border: 1px solid transparent;
  transition: 0.5s;
}

%btn-focus {
  box-shadow: 10px 7px 10px 0px $accent-light;
}

%btn-hover {
  background-color: $white;
  color: $accent;
  border: 1px solid $accent;
  border: 1px solid $accent;
}

%btn-active {
  box-shadow: 20px 7px 20px 0px $accent-light;
}

// %checkbox-hiden {
//   width: 1px;
//   height: 1px;
//   overflow: hidden;
//   clip: rect(0 0 0 0);
//   position: absolute;
// }

// %radio-hidden {
//   width: 1px;
//   height: 1px;
//   overflow: hidden;
//   clip: rect(0 0 0 0);
//   position: absolute;
// }

/*::::::::::::::::::::::::::наследование для кнопки-finish::::::::::::::::::::::*/
/*::::::::::::::::::::::::::fancybox-snipet:::::::::::::::::::::::::::::::::::::*/

@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}

@function min($numbers...) {
  @return m#{i}n(#{$numbers});
}

/*::::::::::::::::::::::::::fancybox-snipet-finish::::::::::::::::::::::::::::*/